html, body {
    background: #131313;
    color: #DDD;
    font-family: 'Arial', sans-serif;
}

input[type='text'],
textarea {
    background: #333;
    color: #FFF;
    padding: 3px;
}

.template {
    display: none;
}

.main {
    margin: 20px auto 0 auto;
    max-width: 750px;
    width: 90%;
}
.main__form {
    display: block;
    width: 90%;
}
.main__form__name {
    display: block;
    margin-bottom: 10px;
    width: 100%;

    background: #333;
    color: #FFF;
    padding: 3px;
}
.main__form__body {
    display: block;
    height: 200px;
    margin-bottom: 10px;
    width: 100%;
}
.main__form__submit {
    background: #0A0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}
.main__form__submit:hover {
    background: #0C0;
}

.main__messages {
    box-shadow: 0 0 3px 3px rgba(255,255,255, 0.3);
    margin-top: 10px;
    padding: 5px;
}
.main__messages__entry {
    border-left: 3px solid transparent;
    padding-left: 5px;
}
.main__messages__entry:hover {
    border-left-color: #DDD;
}
.main__messages__entry:nth-child(n + 3) {
    margin-top: 10px;
}
.main__messages__entry__name {
    margin: 0 0 5px 0;
    padding: 0;
} 
.main__messages__entry__name-from {
    font-style: italic;
    font-size: 12px;
}
.main__messages__entry__name-name {
    color: #42CEF4;
    font-size: 16px;
    font-weight: bold;
}
.main__messages__entry__body {
    background: #333;
    font: 12px 'Courier New', sans-serif;
    margin: 0;
    padding: 3px;
    white-space: pre;
}
